{% extends 'base.html.twig' %}

{% block class %}
    <div class="form-inline my-2 my-lg-0 ui-select">
        <select name="classes" class="form-control mr-sm-2">
            {% for class in classes %}
                <option value="{{ class.id }}"
                        {% if (app.session.get('classId') == class.id) %} selected {% endif %}
                >Class {{ class.label }}</option>
            {% endfor %}
        </select>
    </div>
{% endblock class %}

{% block body %}
    <body class="grades">
    <header>
    </header>

    <section>
        <div class="table-responsive">

            <table id="students-list" class="table table-striped">
                <tr>
                    <th>
                        NAME
                        {#<a href="/participation/sort-by-name">#}
                            {#<img src="/assets/images/sorting.png" alt="sorting">#}
                        {#</a>#}
                    </th>
                    <th>
                        SURNAME
                        {#<a href="/participation/sort-by-surname">#}
                            {#<img src="/assets/images/sorting.png" alt="sorting">#}
                        {#</a>#}
                    </th>
                    <th>
                        QUARTER 1
                    </th>
                    <th>
                        QUARTER 2
                    </th>
                    <th>
                        QUARTER 3
                    </th>
                </tr>
                {% for student in students %}
                    <tr class="student-row" data-id="{{ student.id }}" data-toggle="modal" data-target="#showStudent">
                        <td class="name">{{ student.name | upper }}</a></td>
                        <td class="surname">{{ student.surname | capitalize }}</td>
                        {% for grade in student.grades %}
                        <td>{{ grade.amount }}/20</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>

    </body>
{% endblock %}