{% extends 'base.html.twig' %}

{% block body %}
<body>
<header>
    <h1>CLASS {{ classL }}</h1>
    <a href="/home"><img src="/assets/images/home.png" alt="home" class="icon"/></a>
</header>

<section>
    <table>
        <tr>
            <th><a href="/class/{{ classL }}/name">NAME ↓</a></th>
            <th><a href="/class/{{ classL }}/surname">SURNAME ↓</a></th>
            <th><a href="/class/{{ classL }}/last_call">LAST ↓</a></th>
            <th><a href="/class/{{ classL }}/call_nb">NB ↓</a></th>
        </tr>

        {% for student in students %}
        <tr>
            <td class="name">{{ student.name | upper }}</td>
            <td class="surname"><{{ student.surname | title }}</td>
            <td class="lastcall">date last call</td>
            <td class="contributions">nb interventions</td>
            <td class="right_columns">{{ student.id }}
                <a href="/update/{{ student.id }}"><img src="assets/images/handup.png"></a>
            </td>
            <td class="right_columns">
                <a href="/student/{{ student.id }}"><img src="assets/images/plus.png"></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</section>
</body>
    </body>
{% endblock %}
