{% extends 'base.html.twig' %}

{% block class %}
    {% if (app.user.classId is not defined or app.user.classId is empty) %}
        <div class="form-inline my-2 my-lg-0 ui-select">
            <select name="classes" class="form-control mr-sm-2">
                {% for class in classes %}
                    <option value="{{ class.id }}"
                            {% if (app.session.get('classId') == class.id) %} selected {% endif %}
                    >Class {{ class.label }}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}
{% endblock class %}

{% block body %}
    <div class="participation">
        <header class="row">
            {% if sanctions|length > 0 %}
            <div id="sanctions-alert" class="text-center col-1" data-toggle="modal" data-target="#show-sanctions-modal">
                <img src="{{ asset('assets/images/bell.png') }}" alt="sanctions alert" class="icon">
                <span class="badge">{{ sanctions|length }}</span>
            </div>
            {% endif %}

            {% if displayAbsences %} {% set hidden = '' %} {% else %} {% set hidden = 'hidden' %} {% endif %}
            <div id="absence-alert" class="alert pointer col-6 offset-2">
                Please register the absent students
            </div>

            {% if (app.user.classId is not defined or app.user.classId is empty) %}
                <div class="col-1 offset-2">
                    <img src="{{ asset('assets/images/rewind.png') }}" alt="cancel" class="icon" id="cancel">
                </div>
            {% endif %}
        </header>

        <section>
            <div class="table-responsive">
                <table id="students-list" class="table table-striped">
                    <tr>
                        <th>
                            NAME
                            <a href="/participation/sort-by-name">
                                <img src="{{ asset('assets/images/sorting.png') }}" alt="sorting">
                            </a>
                        </th>
                        <th>
                            SURNAME
                            <a href="/participation/sort-by-surname">
                                <img src="{{ asset('assets/images/sorting.png') }}" alt="sorting">
                            </a>
                        </th>
                        <th class="text-center">
                            LAST
                            <a href="/participation/sort-by-last-participation">
                                <img src="{{ asset('assets/images/sorting.png') }}" alt="sorting">
                            </a>
                        </th>
                        <th class="text-center">
                            NB
                            <a href="/participation/sort-by-nb-participations">
                                <img src="{{ asset('assets/images/sorting.png') }}" alt="sorting">
                            </a>
                        </th>
                        <th class="text-center">
                            NB TODAY
                            <a href="/participation/sort-by-nb-participations-today">
                                <img src="{{ asset('assets/images/sorting.png') }}" alt="sorting">
                            </a>
                        </th>
                        <th>
                            <img src="{{ asset('assets/images/hand-up.png') }}" alt="participate" class="icon hidden">
                            <img src="{{ asset('assets/images/remove-sign.png') }}" alt="cancel" class="icon" id="are-absent">
                            <img src="{{ asset('assets/images/electricity.png') }}" alt="sanction" class="icon" id="display-sanction">
                        </th>
                    </tr>

                    {% for student in students %}
                        <tr {% if student.isAbsent %}class="display-none"{% endif %}>
                            <td class="name">{{ student.name | upper }}</td>
                            <td class="surname">{{ student.surname | capitalize }}</td>
                            <td class="lastParticipation">{{ student.lastParticipation }}</td>
                            <td class="participations">{{ student.participations|length }}</td>
                            <td class="participationsToday">{{ student.nbParticipationsToday }}</td>
                            {% if (app.user.classId is not defined or app.user.classId is empty) %}
                            <td class="right-columns" data-id="{{ student.id }}" data-name="{{ student.name }}" data-surname="{{ student.surname }}">
                                <img src="{{ asset('assets/images/hand-up.png') }}" alt="participate" class="icon hand-up">
                                <img type="button" data-toggle="modal" data-target="#confirm-modal" src="{{ asset('assets/images/remove-sign.png') }}" alt="absent" class="icon confirm-modal-button hidden">
                                <img type="button" data-toggle="modal" data-target="#sanctionModal" src="{{ asset('assets/images/electricity.png') }}" alt="sanction" class="icon sanctionModalButton hidden">
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </section>

        {% include ('participation/confirmModal.html.twig') %}
        {% include ('participation/addSanctionModal.html.twig') %}
        <div id="above-show-sanctions-modal">
            {% include ('participation/showSanctionsModal.html.twig') %}
        </div>

    </div>
{% endblock %}
