{% extends 'base.html.twig' %}

{% block body %}
<body>
<header>
    <div id="cancel">
        <img src="/assets/images/rewind.png" alt="cancel" class="icon">
    </div>
</header>

<div>
    <a href="/participation/class/{{ class.classLetter }}/island">
        <button>PAR ILOTS</button>
    </a>
</div>

<section>
    <table id="students-list" class="table table-striped">
        <tr>
            <th>
                NAME
                <a href="/participation/class/{{ class.classLetter }}/name">
                    <img src="/assets/images/sorting.png" alt="sorting">
                </a>
            </th>
            <th>
                SURNAME
                <a href="/participation/class/{{ class.classLetter }}/surname">
                    <img src="/assets/images/sorting.png" alt="sorting">
                </a>
            </th>
            <th>
                LAST
                <a href="/participation/class/{{ class.classLetter }}/sort-last-participation">
                    <img src="/assets/images/sorting.png" alt="sorting">
                </a>
            </th>
            <th>
                NB
                <a href="/participation/class/{{ class.classLetter }}/sort-nb-participations">
                    <img src="/assets/images/sorting.png" alt="sorting">
                </a>
            </th>
        </tr>

        {% for student in students %}
            {% set lastIntervention = 0 %}
            {% for intervention in student.interventions %}
                {% set lastIntervention = max(intervention.interventionDate|date('d/m'), lastIntervention) %}
            {% endfor %}

        <tr>
            <td class="name">{{ student.name | upper }}</td>
            <td class="surname">{{ student.surname | capitalize }}</td>
            <td class="lastcall">{{ lastIntervention }}</td>
            <td class="contributions">{{ student.interventions|length }}</td>
            <td class="hand-up right_columns" data-id="{{ student.id }}">
                <img src="/assets/images/hand-up.png" alt="participate" class="icon">
            </td>
        </tr>
        {% endfor %}
    </table>
</section>
</body>
    </body>
{% endblock %}
