{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
<header>
    <h1>CLASS {{ class.label }}</h1>
    <a href="/"><img src="{{ asset('assets/images/home.png') }}" alt="home" class="icon"/></a>
</header>

<div>
    <a href="/participation/class/{{ class.label }}/name">
        <button>PAR CLASSE</button>
    </a>
</div>

<section>
    <table id="students-list">
        {% for student in students %}
        <tr>
            <td class="island">{{ student.0.island }}</td>
            <td class="last-name">{{ student.0.lastName | upper }}</td>
            <td class="first-name">{{ student.0.firstName | capitalize }}</td>
            <td class="lastParticipation">{{ student.lastParticipation|date('d/m')}}</td>
            <td class="contributions">{{ student.participationNb}}</td>
            <td class="hand-up right_columns" data-id="{{ student.0.id }}">
                <img src="{{ asset('assets/images/handup.png') }}">
            </td>
            <td class="right_columns">
                <a href="/student/show/{{ student.0.id }}"><img src="{{ asset('assets/images/plus.png') }}"></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</section>
{% endblock %}
