{% extends 'base.html.twig' %}

{% block class %}
    <div class="form-inline my-2 my-lg-0 ui-select">
        <select name="classes" class="form-control mr-sm-2">
            {% for class in classes %}
                <option value="{{ class.id }}"
                        {% if (app.session.get('classId') == class.id) %} selected {% endif %}
                >Class {{ class.label }}</option>
            {% endfor %}
        </select>
    </div>
{% endblock class %}

{% block body %}
    <body>
    <section>
        <table id="students-list" class="table table-striped">
            {% for student in students %}
                <tr class="student-row" data-id="{{ student.id }}" data-toggle="modal" data-target="#showStudent">
                    <td class="name">{{ student.name | upper }}</a></td>
                    <td class="surname">{{ student.surname | capitalize }}</td>
                </tr>
            {% endfor %}
        </table>
    </section>

    <div class="modal" id="showStudent" tabindex="-1" role="dialog" aria-labelledby="showStudent" aria-hidden="false">
    </div>

    {% include('dashboard/addStudentModal.html.twig') %}

    <section>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addStudent">
            ADD A STUDENT
        </button>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#importStudents">
            IMPORT STUDENTS
        </button>
    </section>

    </body>
{% endblock %}