{% extends 'base.html.twig' %}

{% block class %}
    <div class="form-inline my-2 my-lg-0 ui-select">
        <select name="classes" class="form-control mr-sm-2">
            {% for class in classes %}
                <option value="{{ class.id }}"
                        {% if (app.session.get('classId') == class.id) %} selected {% endif %}
                >Class {{ class.label }}</option>
            {% endfor %}
        </select>
    </div>
{% endblock class %}

{% block body %}
    <div class="dashboard">
    <header>
        <input type="text" class="search" name="student-name" id="student-name">
        <img src="{{ asset('assets/images/search.png') }}" border="0" alt="search" class="icon" data-toggle="modal" data-target="#showStudent" id="search">
        <img src="{{ asset('assets/images/plus.png') }}" alt="add a student" class="icon" data-toggle="modal" data-target="#addStudent">
        <img src="{{ asset('assets/images/import.png') }}" alt="import a file" class="icon" data-toggle="modal" data-target="#importStudents">
    </header>

    <section>
        <div class="table-responsive">

            <table id="students-list" class="table table-striped">
                <tr>
                    <th>
                        NAME
                    </th>
                    <th>
                        SURNAME
                    </th>
                </tr>
                {% for student in students %}
                    <tr class="student-row" data-id="{{ student.id }}" data-toggle="modal" data-target="#showStudent">
                        <td class="name">{{ student.name | upper }}</a></td>
                        <td class="surname">{{ student.surname | capitalize }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>

    <div class="modal" id="showStudent" tabindex="-1" role="dialog" aria-labelledby="showStudent" aria-hidden="false">
    </div>

    {% include('dashboard/addStudentModal.html.twig') %}

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}