<!-- Modale showStudent-->
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"><span id="student-first-name" data-former-value="{{ student.firstName | capitalize }}">{{ student.firstName | capitalize }}</span> <span id="student-last-name" data-former-value="{{ student.lastName | upper }}">{{ student.lastName | upper }}</span></h5>
            <div>
                <img src="{{ asset('assets/images/pencil.png') }}" id="modify-student-name" alt="modify" class="pointer small-icon grey-icon">
            </div>
            <div class="ml-2">
                <button class="btn btn-secondary hidden" id="cancel-name">cancel</button>
                <button class="btn btn-success hidden" id="save-name" data-id="{{ student.id }}">save</button>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body container">
            <div class="row">
                <div class="col">
                    <div class="text-left">
                        class {{ student.class.label }} -
                        island {% if student.island is not null %}<span class="island" data-former-value="{{ student.island }}">{{ student.island.label }}</span>{% endif %}
                        <img src="{{ asset('assets/images/pencil.png') }}" id="modify-island" alt="modify-island" class="pointer small-icon grey-icon">
                        <button class="btn btn-secondary hidden" id="cancel-island">cancel</button>
                        <button class="btn btn-success hidden" id="save-island" data-id="{{ student.id }}">save</button>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col">
                    <div>
                        {{ nbParticipations }} PARTICIPATION{% if nbParticipations > 1 %}S{% endif %}
                    </div>
                </div>
                <div class="col">
                     <div class="text-right">GRADES : {% for grade in student.grades %}{{ grade }} {% if not loop.last %}- {% endif %}{% endfor %}</div>
                </div>
            </div>

            {#<hr>#}

            {#<div class="row" id="skill-row">#}
                {#<div class="col-12">#}
                    {#SKILLS#}
                {#</div>#}
                {#<div class="col-12">#}
                    {#{% for skill in student.skills %}#}
                        {#<button class="btn">#}
                            {#{{ skill.skill.label|capitalize}}#}
                            {#<strong class="bold">{{ skill.grade }}</strong>#}
                        {#</button>#}
                    {#{% endfor %}#}
                {#</div>#}
            {#</div>#}

            <hr>

            <div id="sanctions">
                {% if student.sanctions|length > 1 %} {% set s = 'S' %} {% else %} {% set s = '' %} {% endif %}
                <p>{{ student.sanctions|length }} SANCTION{{ s }}
                {% if student.sanctions|length > 2 %}
                    <img src="{{ asset('assets/images/arrow-down.png') }}" alt="more sanctions" id="more-sanctions" class="pointer">
                {% endif %}
                </p>

                <div id="sanctions-list" class="row">
                    {% for sanction in student.sanctions|slice(0,2) %}
                        <div class="sanction col-12 row mb-2">
                            <div class="col-2">
                                {{ sanction.date|date('d/m') }}
                            </div>
                            <div class="col-9 pl-0 pr-0">
                                <strong class="bold">{{ sanction.reason | capitalize }}</strong>
                            </div>
                            <div class="col-1">
                                <img src="{{ asset('assets/images/pencil.png') }}" alt="modify" class="pointer small-icon grey-icon modify-sanction">
                            </div>
                            <div class="col-10 offset-2 details pl-0 pr-0">
                                <span>{{ sanction.details }}</span>
                            </div>
                            <div class="sanction-buttons col-10 offset-2 mt-1"></div>
                        </div>
                    {% endfor %}

                    {% for sanction in student.sanctions|slice(2, student.sanctions|length - 2) %}
                        <div class="col-2 hidden-sanction display-none">
                            {{ sanction.date|date('d/m') }}
                        </div>
                        <div class="col-9 pl-0 pr-0 hidden-sanction display-none">
                            <strong class="bold">{{ sanction.reason | capitalize }}</strong>
                        </div>
                        <div class="col-1 hidden-sanction display-none">
                            <img src="{{ asset('assets/images/pencil.png') }}" alt="modify" class="pointer small-icon grey-icon modify-sanction">
                        </div>
                        <div class="col-10 pl-0 pr-0 offset-2 hidden-sanction display-none">
                            <span>{{ sanction.details }}</span>
                        </div>
                        <div class="sanction-buttons col-10 offset-2 mt-1"></div>
                    {% endfor %}
                </div>
            </div>

            {#<hr>#}

            {#<div class="row" id="comments">#}
                {#<div class="col">#}
                    {#<div id="comments-list">#}
                        {#<div id="comments-title">#}
                            {#<p>COMMENTS</p>#}
                            {#{% if student.comments|length > 3 %}#}
                                {#<div id="more-comments" class="pointer">#}
                                    {#<img src="{{ asset('assets/images/arrow-down.png') }}" alt="+ de commentaires">#}
                                {#</div>#}
                            {#{% endif %}#}
                        {#</div>#}

                        {#{% for comment in student.comments|slice(0,3) %}#}
                            {#<p>#}
                                {#{{ comment.text }}<br>#}
                                {#<span class="font-italic">{{ comment.creationDate|date('d/m/Y') }}</span>#}
                            {#</p>#}
                        {#{% endfor %}#}

                        {#{% for comment in student.comments|slice(3, student.comments|length - 3) %}#}
                            {#<p class="hidden-comment display-none">#}
                                {#{{ comment.text }}<br>#}
                                {#<span class="font-italic">{{ comment.creationDate|date('d/m/Y') }}</span>#}
                            {#</p>#}
                        {#{% endfor %}#}

                    {#</div>#}

                    {#<div id="comment-form">#}
                        {#<input type="text" name="text" id="input-text" placeholder="enter comment here">#}
                        {#<input type="hidden" id="input-id" value="{{ student.id }}">#}
                        {#<button class="btn btn-success" id="save-comment">save</button>#}
                        {#<button class="btn btn-danger" id="cancel-comment">cancel</button>#}
                    {#</div>#}
                    {#<img src="{{ asset('assets/images/plus.png') }}" id="add-comment" class="pointer">#}
                {#</div>#}
            {#</div>#}
        </div>

        <div class="modal-footer modal-footer-student">
            <p>CONTACT<img src="{{ asset('assets/images/pencil.png') }}" id="modify-contact" class="pointer small-icon grey-icon"></p>
            <div id="block-email" class="container-fluid">
                <div class="col-1">
                    <a href="mailto:{{ student.email }}"><img id="send-email" src="{{ asset('assets/images/envelope.png') }}" alt="send-email"/></a>
                </div>
            {% if student.email is not null %}
                <div id="student-email" class="col-11" data-former-value="{{ student.email }}">{{ student.email }}</div>
            {% else %}
                <div id="student-email" class="col-11" data-former-value="{{ student.email }}">pas d'email enregistré</div>
            {% endif %}
            </div>

            <div id="block-phone" class="container">
                <div class="col-1"></div>
            {% if student.phoneNumber is not null %}
                <div id="student-phone" class="col-11" data-former-value="{{ student.phoneNumber }}">{{ student.phoneNumber }}</div>
            {% else %}
                <span id="student-phone" class="col-11" data-former-value="{{ student.phoneNumber }}">pas de numéro de tél enregistré</span><br>
            {% endif %}
            </div>

            <div class="container">
                <div class="col-2"></div>
                <div class="col-8">
                    <button class="btn btn-secondary display-none" id="cancel-contact">cancel</button>
                    <button class="btn btn-success display-none" id="save-contact" data-id="{{ student.id }}">save</button>
                </div>
            </div>
            <div class="bin-container">
                <img src="{{ asset('assets/images/bin.png') }}" id="delete-student" alt="delete" class="pointer small-icon" data-toggle="modal" data-target="#confirm-modal">
            </div>
        </div>
    </div>
</div>

{% include('dashboard/confirmModal.html.twig') %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{{ asset('build/app.js') }}"></script>